* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background #cf0c0cff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}

.container {
    text-align: center;
    }
 
h1 {
    margin-bottom: 20px;
    color: #333;   
    }

.button_groupo {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    gap: 20px;

}

.crud_button {
    padding: 45px;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#create_id, #read_id, #update_id, #delete_id {
    
    }

.create_class, .read_class, .update_class, .delete_class {
   
    }   

.create_class, #create_id {
    background-color: #06b6d4;
    }

.read_class, #read_id {
    background-color: #10b981;
    }

.update_class, #update_id {
    background-color: #f97316;
    }

.delete_class, #delete_id {
    background-color: #ec4899;
    }

